<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.TbPermissionMapper">
  <resultMap id="BaseResultMap" type="com.manager.domain.TbPermission">
    <!--@mbg.generated generated on Tue Mar 24 00:50:22 CST 2020.-->
    <!--@Table tb_permission-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Mar 24 00:50:22 CST 2020.-->
    id, parent_id, `name`, enname, url, description, created, updated
  </sql>
</mapper>